* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #5800ff;
}

.container {
  height: 100vh;
  max-width: 80%;
  margin: -30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.timer-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.contador {
  color: #ffc;
  max-width: 100%;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.sub-title {
  color: #ffc;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#date {
  background-color: #ffc;
  color: #5800ff;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.start {
  background-color: #ffc;
  color: #5800ff;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
}

.start:hover {
  background-color: #5800ff;
  color: #ffc;
  border: 2px solid #ffc;
}
